labs/lab-2-elm-ce/3ProvisionAdminCode-Finally-Working-YEAH.json
{
    "definition": {
        "metadata": {
            "notes": {}
        },
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "AccessPackage": {
                                "properties": {
                                    "Description": {
                                        "description": "AccessPackage-Description",
                                        "type": "string"
                                    },
                                    "DisplayName": {
                                        "description": "AccessPackage-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "AccessPackage-Id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "AccessPackageAssignmentRequestId": {
                                "type": "string"
                            },
                            "AccessPackageCatalog": {
                                "properties": {
                                    "Description": {
                                        "description": "AccessPackageCatalog-Description",
                                        "type": "string"
                                    },
                                    "DisplayName": {
                                        "description": "AccessPackageCatalog-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "AccessPackageCatalog-Id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "Answers": {
                                "type": "array"
                            },
                            "Assignment": {
                                "properties": {
                                    "AssignmentPolicy": {
                                        "properties": {
                                            "DisplayName": {
                                                "description": "AssignmentPolicy-DisplayName",
                                                "type": "string"
                                            },
                                            "Id": {
                                                "description": "AssignmentPolicy-Id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Id": {
                                        "description": "Assignment-Id",
                                        "type": "string"
                                    },
                                    "State": {
                                        "description": "Assignment-State",
                                        "type": "string"
                                    },
                                    "Status": {
                                        "description": "Assignment-Status",
                                        "type": "string"
                                    },
                                    "Target": {
                                        "properties": {
                                            "ConnectedOrganization": {
                                                "properties": {
                                                    "Description": {
                                                        "description": "Assignment-Target-ConnectedOrganization-Description",
                                                        "type": "string"
                                                    },
                                                    "DisplayName": {
                                                        "description": "Assignment-Target-ConnectedOrganization-DisplayName",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "Assignment-Target-ConnectedOrganization-Id",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "DisplayName": {
                                                "description": "Assignment-Target-DisplayName",
                                                "type": "string"
                                            },
                                            "Id": {
                                                "description": "Assignment-Target-Id",
                                                "type": "string"
                                            },
                                            "ObjectId": {
                                                "description": "Assignment-Target-ObjectId",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "CallbackConfiguration": {
                                "properties": {
                                    "DurationBeforeTimeout": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "CallbackUriPath": {
                                "type": "string"
                            },
                            "CustomExtensionStageInstanceId": {
                                "type": "string"
                            },
                            "RequestType": {
                                "type": "string"
                            },
                            "Requestor": {
                                "properties": {
                                    "DisplayName": {
                                        "description": "Requestor-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "Requestor-Id",
                                        "type": "string"
                                    },
                                    "ObjectId": {
                                        "description": "Requestor-ObjectId",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "Stage": {
                                "type": "string"
                            },
                            "State": {
                                "type": "string"
                            },
                            "Status": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "operationOptions": "IncludeAuthorizationHeadersInOutputs"
            }
        },
        "actions": {
            "Condition": {
                "actions": {
                    "Condition_2": {
                        "actions": {
                            "Compose_-_UserPrincipalName": {
                                "runAfter": {
                                    "Parse_JSON_-_Get_all_user_details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Compose",
                                "inputs": "adm.@{body('Parse_JSON_-_Get_all_user_details')?['userPrincipalName']}"
                            },
                            "HTTP_-_Generate_TAP_for_admin": {
                                "runAfter": {
                                    "HTTP_-_Enable_Exchange_Online_plus_addressing": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/beta/users/@{outputs('Compose_-_UserPrincipalName')}/authentication/temporaryAccessPassMethods",
                                    "method": "POST",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "isUsableOnce": true,
                                        "lifetimeInMinutes": 1440
                                    },
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance",
                                        "audience": "https://graph.microsoft.com"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "HTTP_-_Get_all_user_details": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/beta/users/@{triggerBody()?['Requestor']?['ObjectId']}?$select=id,displayName,givenName,surname,accountEnabled,userPrincipalName,mailNickname,employeeId",
                                    "method": "GET",
                                    "authentication": {
                                        "audience": "https://graph.microsoft.com",
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Parse_JSON_-_Generate_TAP_for_admin": {
                                "runAfter": {
                                    "HTTP_-_Generate_TAP_for_admin": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('HTTP_-_Generate_TAP_for_admin')",
                                    "schema": {
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "createdDateTime": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isUsable": {
                                                "type": "boolean"
                                            },
                                            "isUsableOnce": {
                                                "type": "boolean"
                                            },
                                            "lifetimeInMinutes": {
                                                "type": "integer"
                                            },
                                            "methodUsabilityReason": {
                                                "type": "string"
                                            },
                                            "startDateTime": {
                                                "type": "string"
                                            },
                                            "temporaryAccessPass": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            },
                            "Parse_JSON_-_Get_all_user_details": {
                                "runAfter": {
                                    "HTTP_-_Get_all_user_details": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('HTTP_-_Get_all_user_details')",
                                    "schema": {
                                        "properties": {
                                            "@@odata.context": {
                                                "type": "string"
                                            },
                                            "accountEnabled": {
                                                "type": "boolean"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "employeeId": {},
                                            "givenName": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "mailNickname": {
                                                "type": "string"
                                            },
                                            "surname": {
                                                "type": "string"
                                            },
                                            "userPrincipalName": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            },
                            "HTTP_-_Send_an_email": {
                                "runAfter": {
                                    "Parse_JSON_-_Generate_TAP_for_admin": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/users/77ca8b96-893b-4f5b-a3f0-369beeaedf5a/sendMail",
                                    "method": "POST",
                                    "body": {
                                        "message": {
                                            "subject": "Your IdentityMan Admin account has been created",
                                            "importance": "High",
                                            "body": {
                                                "contentType": "HTML",
                                                "content": "<p>Hi @{body('Parse_JSON_-_Get_all_user_details')?['givenName']},<br><br>Your request for an admin account has been approved.<br> You can sign-in with your admin account by using the following details and instruction:<br><br> <b><strong>Username: </strong></b>@{outputs('Compose_-_UserPrincipalName')}<br> <b><strong>Temporary Access Pass: </strong></b>@{body('Parse_JSON_-_Generate_TAP_for_admin')?['temporaryAccessPass']}<br><br> You can now go to <a href='https://aka.ms/mysecurityinfo'>MySecurityInfo</a> to use your temporary acccess pass to register for a passwordless method (preferably a Security Key or a Passkey), be aware that we don't use passwords so there is no need anymore to know or reset your password.<br><br> At last, please don't share these account details with anyone else but you.<br><br> Kind Regards,<br><br> IdentityMan Helpdesk</p>"
                                            },
                                            "toRecipients": [
                                                {
                                                    "emailAddress": {
                                                        "address": "@{body('Parse_JSON_-_Get_all_user_details')?['userPrincipalName']}"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com",
                                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Set_variable_-_Request_Body_Provisioning": {
                                "runAfter": {
                                    "Compose_-_UserPrincipalName": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "RequestBodyProvisioning",
                                    "value": "{\n    \"schemas\":  [\n                    \"urn:ietf:params:scim:api:messages:2.0:BulkRequest\"\n                ],\n    \"Operations\":  [\n                       {\n                           \"method\":  \"POST\",\n                           \"bulkId\":  \"@{variables('GeneratedPassword')}\",\n                           \"path\":  \"/Users\",\n                           \"data\":  {\n                                        \"schemas\":  [\n                                                        \"urn:ietf:params:scim:schemas:core:2.0:User\",\n                                                        \"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User\"\n                                                    ],\n                                        \"nickName\":  \"@{body('Parse_JSON_-_Get_all_user_details')?['mailNickname']}\",\n                                        \"userName\":  \"@{outputs('Compose_-_UserPrincipalName')}\",\n                                        \"displayName\":  \"@{body('Parse_JSON_-_Get_all_user_details')?['displayName']} - Admin\",\n                                        \"emails\":  [\n                                                       {\n                                                            \"value\": \"@{body('Parse_JSON_-_Get_all_user_details')?['mailNickname']}+admin@identity-man.eu\",\n                                                            \"type\": \"work\",\n                                                            \"primary\": true\n                                                       }\n                                                   ],\n                                        \"name\":  {\n                                                     \"familyName\":  \"@{body('Parse_JSON_-_Get_all_user_details')?['surname']}\",\n                                                     \"givenName\":  \"@{body('Parse_JSON_-_Get_all_user_details')?['givenName']}\"\n                                                 },\n                                        \"externalId\":  \"A@{body('Parse_JSON_-_Get_all_user_details')?['employeeId']}\",\n                                        \"active\":  true\n                                    }\n                       }\n                   ],\n    \"failOnErrors\":  null\n}"
                                }
                            },
                            "HTTP_-_Provision_admin_account": {
                                "runAfter": {
                                    "Set_variable_-_Request_Body_Provisioning": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/626172aa-1511-4151-bfe1-4b2ad668f77e/synchronization/jobs/API2AAD.8f87362b5dd345dda667cbff144e3863.7ada0b78-05d2-467a-a6c3-1cb6d687762b/bulkUpload",
                                    "method": "POST",
                                    "headers": {
                                        "Content-Type": "application/scim+json"
                                    },
                                    "body": "@variables('RequestBodyProvisioning')",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance",
                                        "audience": "https://graph.microsoft.com"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "HTTP_-_Enable_Exchange_Online_plus_addressing": {
                                "runAfter": {
                                    "Delay_-_20_seconds": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/beta/users/@{outputs('Compose_-_UserPrincipalName')}",
                                    "method": "PATCH",
                                    "body": {
                                        "mail": "@{body('Parse_JSON_-_Get_all_user_details')?['mailNickname']}+admin@identity-man.eu"
                                    },
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance",
                                        "audience": "https://graph.microsoft.com"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Delay_-_20_seconds": {
                                "runAfter": {
                                    "HTTP_-_Provision_admin_account": [
                                        "Succeeded",
                                        "TimedOut",
                                        "Skipped",
                                        "Failed"
                                    ]
                                },
                                "type": "Wait",
                                "inputs": {
                                    "interval": {
                                        "count": 20,
                                        "unit": "Second"
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@triggerBody()?['Stage']",
                                        "assignmentRequestGranted"
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Initialize_variables_-_RequestBodyProvisioning": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['AccessPackageCatalog']?['Id']",
                                "bcf15229-8e85-429d-8d8b-124bda460da1"
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "HTTP_-_Resume_an_access_package_assignment_request": {
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/assignmentRequests/@{triggerBody()?['AccessPackageAssignmentRequestId']}/resume",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "data": {
                            "@@odata.type": "microsoft.graph.accessPackageAssignmentRequestCallbackData",
                            "customExtensionStageInstanceDetail": "Admin account has been created",
                            "customExtensionStageInstanceId": "@{triggerBody()?['CustomExtensionStageInstanceId']}",
                            "stage": "assignmentRequestGranted"
                        },
                        "source": "IdentityMan.AdminAccountRequest",
                        "type": "microsoft.graph.accessPackageCustomExtensionStage.assignmentRequestGranted"
                    },
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity",
                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance"
                    }
                },
                "operationOptions": "DisableAsyncPattern",
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_-_Resume_and_deny_an_access_package_assignment_request": {
                "runAfter": {
                    "Condition": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/identityGovernance/entitlementManagement/assignmentRequests/@{triggerBody()?['AccessPackageAssignmentRequestId']}/resume",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "data": {
                            "@@odata.type": "microsoft.graph.accessPackageAssignmentRequestCallbackData",
                            "customExtensionStageInstanceDetail": "Admin account creation failed",
                            "customExtensionStageInstanceId": "@{triggerBody()?['CustomExtensionStageInstanceId']}",
                            "stage": "assignmentRequestGranted"
                        },
                        "source": "IdentityMan.AdminAccountRequest",
                        "type": "microsoft.graph.accessPackageCustomExtensionStage.assignmentRequestGranted"
                    },
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity",
                        "identity": "/subscriptions/41f018dd-427b-445f-9262-6b32b603662e/resourcegroups/entraLab/providers/Microsoft.ManagedIdentity/userAssignedIdentities/entraLabInstance"
                    }
                },
                "operationOptions": "DisableAsyncPattern",
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Initialize_variable_-_Guid": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "GeneratedPassword",
                            "type": "string",
                            "value": "@{guid()}"
                        }
                    ]
                }
            },
            "Initialize_variables_-_RequestBodyProvisioning": {
                "runAfter": {
                    "Initialize_variable_-_Guid": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "RequestBodyProvisioning",
                            "type": "string"
                        }
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}